* { 
  box-sizing: border-box;
}

body, html {
  height: auto; 
  width: 100%; 
	font-family: Verdana, Roboto, "Droid Sans", "游ゴシック", YuGothic, "メイリオ", Meiryo, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "ＭＳ Ｐゴシック", sans-serif;
}

/* pc */
@media screen and (min-width: 1024px) {
  /*ここにpc用スタイルを記述*/
  html, body {
    font-size: 100%;
  }

  #map, .tab-contents {
    width: 100%; 
    height: 720px;
  }
  
  #d3-temperature, 
  #d3-pressure, 
  #d3-humidity { 
    width: 100%; 
    height: 550px;
  }
}
 
/* tablet ipad pro  */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  /*ここにtablet用スタイルを記述*/ 
  html, body { 
    font-size: 105%; 
  }

  #map,
  #d3-temperature, 
  #d3-pressure, 
  #d3-humidity, 
  .tab-contents { 
    width: 100%; 
    height: 500px; 
  }
}
 
/* tablet  */
@media only screen and (min-width: 641px) and (max-width: 768px) {
  /*ここにtablet用スタイルを記述*/ 
  html, body { 
    font-size: 95%; 
  }

  #map, 
  #d3-temperature, 
  #d3-pressure, 
  #d3-humidity, 
  .tab-contents { 
    width: 100%; 
    height: 500px; 
  }
}
 
/* smartPhone */
@media screen and (max-width: 640px) {
  /*ここにスマホ用スタイルを記述*/
  html, body { 
    font-size: 83%; 
  }

  #map, 
  #d3-temperature, 
  #d3-pressure, 
  #d3-humidity, 
  .tab-contents { 
    width: 100%; 
    height: 320px; 
  }
}

#d3-temperature, #d3-pressure, #d3-humidity { 
  padding-top: 10px;
  padding-bottom: 120px;
  width: 100%;
  text-align: center;
}

.d3-li {
  width: 100%;
  height: 100%;
}

.d3-inner-li { 
  margin-left: auto; 
  margin-right: auto;
  width: 90%;
}

#contents {
  padding-bottom: 30px;
}

.input-city {
  margin-right: 10px;
  flex: 1;
}

#main {
  width: 90%; 
  padding-top: 20px;
  margin: auto;
}

.uk-heading-line {
  text-align: center; 
}

.uk-offcanvas {
  z-index: 10001;
}

.logout {
  margin-right: 15px; 
  padding: 0 15px;
}

/* UIkitで勝手に付けられる背景色の上書き(ヘッダー) */
.uk-navbar-container:not(.uk-navbar-transparent){
  background: rgb(210, 245, 205);
}

/* UIkitで勝手に付けられる背景色の上書き(テーブル) */
.uk-table-striped tbody tr:nth-of-type(odd), .uk-table-striped>tr:nth-of-type(odd) {
  background: rgb(240, 255, 240);
}

ul.uk-tab {
  flex-wrap: inherit;
  overflow: auto;
}

#page-top { 
  position: fixed; 
  bottom: 0px; 
  right: 10px; 
  font-size: 65%; 
  z-index: 1001;
}

#page-top a { 
  box-shadow: 3px 5px 3px -3px rgba(0,0,0,0.5);
  background-color: rgba(94, 183, 79,0.7); 
  text-decoration: none; 
  color: #fff; 
  padding: 8px; 
  text-align: center; 
  display: block; 
  border-radius: 5px;
}

#page-top a:hover { 
  text-decoration: none; 
  background: rgba(104, 202, 88, 0.7);
}

#fixed-search { 
  padding: 5px; 
  background-color: rgba(217, 241, 213, 0.6);
  position: fixed; 
  top: 70px;
  font-size: 65%; 
  z-index: 1001; 
  border-radius: 3px; 
  right: 10px;
  display: inline-block;
  text-align: right; 
  box-shadow: 3px 5px 3px -3px rgba(0,0,0,0.5);
}

#fixed-search input { 
  height: 30px; 
  width: 100px; 
  font-size: 12px;
}

#fixed-search button { 
  padding: 0 8px;
  line-height: 28px;
  margin-right: 0px;
}

.uk-offcanvas-bar { 
  box-shadow: 3px 0px 7px rgba(0,0,0,0.5);
  width: 200px; 
}

.register-form {
  width: 80%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

svg { 
  overflow: visible !important; 
} 

.y_axis path,
.x_axis path{
　　fill: none;
　　stroke: rgb(159, 224, 190);
}

.tick line{
  opacity: 0.2;
}

.uk-navbar, .uk-logo, .uk-navbar-toggle { 
  height: 60px;
}

.earth-header {
  position: fixed; 
  top: 0px;         
  width: 100%;
}

header { 
  box-shadow: 0px 5px 3px -3px rgba(0,0,0,0.5);
}


.uk-sticky-fixed {
  z-index: 5000;
}

.search-header { 
  padding: 0 15px;
  margin-right:20px;
}

.uk-form-width-small {
    width: 80px;
}

.input-city-header {
  margin: 0px;
}

